body{background-color:rgba(226, 244, 157, 0.89);font-family:"Palatino";
font-size:16px; margin:0; text-align: left;margin: 13px auto;padding:13px;}

ul{background-color:rgba(212, 214, 81, 0.61);
  margin-left: 35px;margin-right:38px;padding:18px 18px;
  border-radius:5px;border: 1px solid #1d8fcf ;box-shadow:rgba(0,0,0,0.6) 0px 5px 10px}

li{font-size:15px;font-family:"Palatino";display:inline;
text-shadow:  1px 1px 1px ;border-radius:5px;border:1px solid #76b44b ;
box-shadow:#10cd00 3px 3px 6px;padding:10px 18px;margin:10px auto;}

header{text-align:center; text-shadow:1px 1px 4px green;border-radius: 0.5em;
-webkit-border-radius: 0,5em;box-shadow:rgba(0,0,0,0.6) 0px 5px 10px; color:#DDD;
margin: 1em auto;padding: 1em ;
width: 90%;}

footer{font-size:14px;text-align: center;text-shadow: 1px 1px 2px black;}
footer,section{background: rgba(69, 143, 18, 0.75);border-radius: 0.5em;border: 1px solid #1d8fcf
-webkit-border-radius: 0,5em;box-shadow:rgba(0,0,0,0.6) 0px 5px 10px; color:#DDD;
margin: 1em auto;
padding: 1em ;
width: 90%;}
